html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* prevents page from scrolling itself */
}

#map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#story {
  position: absolute;
  right: 0;
  width: 40%;
  height: 100vh;
  overflow-y: scroll;
  padding: 20px;
  background: white;
}

.chapter {
  padding: 50px 0;
  border-bottom: 1px solid #eee;
}

.chapter.active {
  opacity: 1;
}

.chapter.inactive {
  opacity: 0.3;
}

#scroll-track {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  z-index: 3;
}

.year-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;              /* controls speed of scroll */
  font-size: 10rem;
  font-weight: 800;
  color: white;
  opacity: 0.15;
  transition: opacity 0.3s;
  pointer-events: none;       /* allows user to scroll map if needed */
}

.year-section.active {
  opacity: 1;
  color: white;
}